$black: #000;
$white: #fff;
$yellow: #f0ff00;
$red: #ff0000;
$gray: #3c3c3c;
$green: #00ff00;
$blue: #0000ff;
$teal: #27b6bf; //#079db1;

body {
  background: $white;
  font-family: arial;
}


.cardInfo {
  color: $white;
  display: none;
  font-family: monospace;
  position: relative;
  margin: 0px;
  margin-top: 0px;
  height: 648px;
  a {
    text-decoration: none;
    color: $white;
  }
  h2 {
    color: $teal;
    font-family: 'Press Start 2p';
    text-transform: uppercase;
    margin-top: 75px;
    margin-left: 40px;
    text-align: left;
    font-size: 2em;
  }
  h5 {
    margin-left: 40px;
    text-align: left;
    font-size: 1.5em;
    font-weight: lighter;
    font-family: monospace;
    text-transform: uppercase;
  }
  p {
    margin-left: 40px;
    text-transform: lowercase;
    font-size: 1em;
  }
  .myInfo {
    float: left;
    left: 40px;
    display: inline;
    width: 75%;
  }
  .social {
    width: 70px;
    float: right;
    margin-top: 164px;
    margin-right: 20px;
    right: 5px;
    display: inline;
    bottom: 105px;
    text-align: center;
    i {
      margin-left: 10px;
      margin-right: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      &:hover {
        color: $black;
        text-shadow: 0px 0px 18px $teal;
      }
    }
  }
}

.billboard {
  background-color: $black;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  width: 1098px;
  height: 648px;
  &:hover {
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);

  }
  .icons {
    display: inline-block;
    margin-top: 288px;
    i {
      color: $white;
      margin-left: 10px;
      margin-right: 10px;
      &:hover {
        color: $red;
      }
    }
  }
  .firstL {
    display: inline-block;
    background-color: $red;
    border-radius: 38px;
    height: 75px;
    width: 75px;
    margin-left: 10px;
    margin-right: 10px;
    &:hover {
      background-color: $blue;
    }
    h1 {
      color: $black;
      font-size: 4em;
      display: inline-block;
      margin: 0px;
    }
  }

  .secondL {
    display: inline-block;
    background-color: $green;
    border-radius: 38px;
    height: 75px;
    width: 75px;
    margin-left: 10px;
    margin-right: 10px;
    &:hover {
      background-color: $yellow;
    }
    h1 {
      color: $black;
      font-size: 4em;
      display: inline-block;
      margin: 0px;
    }
  }
}
