$black: #000;
$white: #fff;
$yellow: #f0ff00;
$red: #ff0000;
$gray: #3c3c3c;

body {
  background: $white;
  font-family: arial;
}


.spinner {
  background-color: $red;
  height: 180px;
  text-indent: 180px;
}

.billboard {
  // background: transparent;
  background-color: $black;
  // box-shadow: 50px 50px 80px 0px $gray;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  width: 1098px;
  height: 648px;
  .icons {
    display: inline-block;
    margin-top: 288px;
    i {
      color: $white;
      margin-left: 10px;
      margin-right: 10px;
      &:hover {
        color: $red;
      }
    }
  }
  // .spin {
  //   -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  //   animation: sk-rotateplane 1.2s infinite ease-in-out;
  //
  //   @-webkit-keyframes sk-rotateplane {
  //     0% { -webkit-transform: perspective(4000px) rotateX(0deg) }
  //     100% { -webkit-transform: perspective(4000px) rotateX(90deg) }
  //   }
  //
  //   @keyframes sk-rotateplane {
  //     0% {
  //       transform: perspective(4000px) rotateX(0deg) rotateY(0deg);
  //       -webkit-transform: perspective(4000px) rotateX(0deg) rotateY(0deg)
  //     } 100% {
  //       transform: perspective(4000px) rotateX(0deg) rotateY(90.1deg);
  //       -webkit-transform: perspective(4000px) rotateX(0deg) rotateY(90.1deg)
  //     }
  //   }
  // }

}

.spin {
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;

  @-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(4000px) rotateX(0deg) }
    100% { -webkit-transform: perspective(4000px) rotateX(180deg) }
  }

  @keyframes sk-rotateplane {
    0% {
      transform: perspective(4000px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(4000px) rotateX(0deg) rotateY(0deg)
    } 100% {
      transform: perspective(4000px) rotateX(0deg) rotateY(180.1deg);
      -webkit-transform: perspective(4000px) rotateX(0deg) rotateY(180.1deg)
    }
  }
}

// .spin {
//   -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
//   animation: sk-rotateplane 1.2s infinite ease-in-out;
//
//   @-webkit-keyframes sk-rotateplane {
//     0% { -webkit-transform: perspective(120px) }
//     100% { -webkit-transform: perspective(120px) rotateY(90deg) }
//   }
//
//   @keyframes sk-rotateplane {
//     0% {
//       transform: perspective(120px) rotateX(0deg) rotateY(0deg);
//       -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
//     } 100% {
//       transform: perspective(120px) rotateX(90.1deg) rotateY(0deg);
//       -webkit-transform: perspective(120px) rotateX(90.1deg) rotateY(0deg)
//     }
//   }
// }
//






.firstL {
  display: inline-block;
  background-color: $red;
  border-radius: 38px;
  height: 75px;
  width: 75px;
  margin-left: 10px;
  margin-right: 10px;
  &:hover {
    background-color: #0000ff;
  }
  h1 {
    color: $black;
    font-size: 4em;
    display: inline-block;
    margin: 0px;
  }
}

.secondL {
  display: inline-block;
  background-color: $yellow;
  border-radius: 38px;
  height: 75px;
  width: 75px;
  margin-left: 10px;
  margin-right: 10px;
  &:hover {
    background-color: #00ff00;
  }
  h1 {
    color: $black;
    font-size: 4em;
    display: inline-block;
    margin: 0px;
  }
}



.back {
  font-family: arial;
  background-color: $yellow;
  color: #fff;
  border-radius: 100px;
  width: 100px;
  height: 100px;
  h1 {
    font-size: 80px;
    margin: 0px;
    text-align: center;
  }
}
